<div class="alert alert-warning">
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                class: "text-danger",
                data: { confirm: 'Are you sure?' } %>
  </p>
</div>