<div class="container">
  <h1>Hello, Rails!</h1>

  <nav class="navbar navbar-default">
    <div class="container">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'My Blog', controller: 'articles' %>
        </li>
      </ul>
    </div>
  </nav>
</div>